{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}{% endblock title %}

        <meta name="description"
            content="Hello, My name is Junaid Siddiqui a.k.a MAX-EINSTEIN. I am an aspiring Full Stack Django + React Developer with experience in technolgies like Python, PyQt, C++, The Qt Framework, Android + Java/Kotlin + Firebase, Unreal Engine Fundamentals. I have fun by writing poetry, articles and also by participating in competitive programming contests.">

        <!-- Meta Tags for Open Graph and Twitter -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@MAX_EINSTEIN" />
        <meta name="twitter:creator" content="Junaid Siddiqui" />
        <meta name="twitter:creator" content="@MAX_EINSTEIN10" />
        <meta property="og:url" content="https://max-einstein.github.io" />
        <meta property="og:title" content="Portfolio - Junaid Siddiqui" />
        <meta property="og:description"
            content="Hello, My name is Junaid Siddiqui a.k.a MAX-EINSTEIN. I am an aspiring Full Stack Django + React Developer with experience in technolgies like Python, PyQt, C++, The Qt Framework, Android + Java/Kotlin + Firebase, Unreal Engine Fundamentals. I have fun by writing poetry, articles and also by participating in competitive programming contests." />
        <meta property="og:image" content="{% static 'images/favicon/android-icon-512x512.png' %}" />

        <!-- Favicon  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"
            href="{% static 'images/favicon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="512x512"
            href="{% static 'images/favicon/android-icon-512x512.png' %}">
        <meta name="msapplication-TileImage" content="{% static 'images/favicon/ms-icon-144x144.png' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        {% block stylesheets %}{% endblock stylesheets %}
    </head>

    <body>
        {% include 'components/navbar.html' %}

        {% block content %}{% endblock content %}

        {% block renderer_label %}{% endblock renderer_label %}

        {% block scripts %}{% endblock scripts %}

        {% include 'components/footer.html' %}
    </body>

</html>